{% extends 'website/base.html' %}

{% block title %}
    <title>Futebol VIP: Contactos</title>
{% endblock %}

{% block header %}
    <h1>Futebol VIP: Adicionar Contacto</h1>
{% endblock %}

{% block main %}
    <section class="ask">
    <h3 class="blink">Novo Contacto</h3>
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <a href="{% url 'website:index' %}" role="button" class="btn btn-warning">Cancelar</a>
        <input type="submit" value="Gravar">
    </form>
    </section>
    <br>
{% endblock %}