{% extends 'website/base.html' %}

{% block title %}
    <title>Futebol VIP: Mulimedia</title>
{% endblock %}

{% block header %}
    <h1>Futebol VIP: Multimedia</h1>
{% endblock %}

{% block main %}
    <section class="ask">
        <h3 class="blink">Multimedia</h3>
    </section>
    {% load static %}
    <section class="flex-container">
                <section>
                  <figure>
                    <img class="imagemMulti" src="{% static 'website/images/mundial.jpg' %}">
                    <figcaption><details>
                      <summary>Mundial Seleções</summary>
                      <p><a href="https://goalpoint.pt/opiniao-vencedores-e-vencidos-do-mundial-2018_61957" target="_blank">Imagem do Mundial de seleções ganha pela França</a></p>
                    </details></figcaption></a>
                  </figure>
                </section>

                <section>
                <figure>
                  <img class="imagemMulti" src="{% static 'website/images/mundoC.jpg' %}">
                  <figcaption><details>
                    <summary>Mundial de Clubes</summary>
                    <p><a href="https://pt.uefa.com/uefachampionsleague/news/025a-0ea06798496b-f798d6247fd7-1000--mundial-de-clubes-firmino-da-trofeu-ao-liverpool/" target="_blank">Taça Mundial de Clubes ganha pelo Liverpool</a></p>
                  </details></figcaption></a>
                </figure>
                </section>

                <section>
                  <figure>
                    <img class="imagemMulti" src="{% static 'website/images/champions.png' %}">
                    <figcaption><details>
                      <summary>Champions League</summary>
                      <p><a href="https://pt.uefa.com/uefachampionsleague/news/025b-0ee5fb0a3d85-dbe186a96a71-1000--conheca-o-vencedor-bayern/" target="_blank">Taça da Champions League ganha pelo Bayern Munich</a></p>
                    </details></figcaption></a>
                  </figure>
                </section>

                <section>
                <figure>
                  <img class="imagemMulti" src="{% static 'website/images/portugal.jpg' %}">
                  <figcaption><details>
                    <summary>Campeonato Europeu</summary>
                    <p><a href="https://observador.pt/2019/12/17/portugal-defende-titulos-de-campeao-europeu-e-da-liga-das-nacoes-em-2020/" target="_blank">Campeonato Europeu ganho por Portugal</a></p>
                  </details></figcaption></a>
                </figure>
                </section>
              </section>

              <section>
                <figure>
                  <img class="imagemMulti" src="{% static 'website/images/europa.jpg' %}">
                  <figcaption><details>
                    <summary>Liga Europa</summary>
                    <p><a href="https://maisfutebol.iol.pt/sevilha/trofeus/todos-os-vencedores-da-liga-europa" target="_blank">Liga Europa ganha pelo Sevilha</a></p>
                  </details></figcaption></a>
                </figure>
                </section>
              </section>

              <section class="esconder2">
                <figure>
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1024" height="768">
                <defs>
                <style type="text/css"> @import url(https://fonts.googleapis.com/css2?family=Paprika:wght@400&amp;display=swap); </style>
                </defs>
                <g>
                <g transform="translate(512,384) rotate(0,0,0)">
                <text fill="#468966" stroke="none" font-family="Paprika" font-size="47.7501px" font-style="normal" font-weight="normal" x="-140" y="-19.200000000000003" text-anchor="start" dominant-baseline="alphabetic">Futebol VIP</text>
                </g>
                <g transform="translate(510,498) rotate(72.92229835640914,0,0)">
                <a xlink:href="https://www.cristianoronaldo.com/#cr7" target="_blank">
                <text fill="#ffb03b" stroke="none" font-family="Paprika" font-size="47.7501px" font-style="normal" font-weight="normal" x="-127" y="-19.200000000000003" text-anchor="start" dominant-baseline="alphabetic">C.Ronaldo</text>
                </a>
                </g>
                <g transform="translate(386,434) rotate(8.012023493631688,0,0)">
                <a xlink:href="https://www.sporting.pt/pt" target="_blank">
                <text fill="#fff0a5" stroke="none" font-family="Paprika" font-size="47.7501px" font-style="normal" font-weight="normal" x="-108" y="-19.200000000000003" text-anchor="start" dominant-baseline="alphabetic">Sporting</text>
                </a>
                </g>
                <g transform="translate(706,420) rotate(0,0,0)">
                <a xlink:href="https://www.realmadrid.com/pt" target="_blank">
                <text fill="#fff0a5" stroke="none" font-family="Paprika" font-size="47.7501px" font-style="normal" font-weight="normal" x="-152.5" y="-19.200000000000003" text-anchor="start" dominant-baseline="alphabetic">Real Madrid</text>
                </a>
                </g>
                <g transform="translate(506,252) rotate(58.15001981496956,0,0)">
                <a xlink:href="https://ronaldinhooficial.com/" target="_blank">
                <text fill="#b64926" stroke="none" font-family="Paprika" font-size="31.8334px" font-style="normal" font-weight="normal" x="-97" y="-12.8" text-anchor="start" dominant-baseline="alphabetic">Ronaldinho</text>
                </a>
                </g>
                <g transform="translate(448,332) rotate(0,0,0)">
                <a xlink:href="https://www.juventus.com/pt/" target="_blank">
                <text fill="#ffb03b" stroke="none" font-family="Paprika" font-size="31.8334px" font-style="normal" font-weight="normal" x="-71.5" y="-12.8" text-anchor="start" dominant-baseline="alphabetic">Juventus</text>
                </a>
                </g>
                <g transform="translate(512,498) rotate(-85.90947494702391,0,0)">
                <a xlink:href="https://en.wikipedia.org/wiki/Zinedine_Zidane" target="_blank">
                <text fill="#468966" stroke="none" font-family="Paprika" font-size="31.8334px" font-style="normal" font-weight="normal" x="-56.5" y="-12.8" text-anchor="start" dominant-baseline="alphabetic">Zidane</text>
                </a>
                </g>
                <g transform="translate(494,300) rotate(0,0,0)">
                <a xlink:href="http://www.fundacaoluisfigo.pt/homepage.aspx?param=6xaQnimFh6ShIR4NKdOwDLXlTbEvr/5IfqwXWER5+JOdBPmj/1EEhA==" target="_blank">
                <text fill="#ffb03b" stroke="none" font-family="Paprika" font-size="31.8334px" font-style="normal" font-weight="normal" x="-36.5" y="-12.8" text-anchor="start" dominant-baseline="alphabetic">Figo</text>
                </a>
                </g>
                <g transform="translate(626,448) rotate(0,0,0)">
                <text fill="#8e2800" stroke="none" font-family="Paprika" font-size="31.8334px" font-style="normal" font-weight="normal" x="-73" y="-12.8" text-anchor="start" dominant-baseline="alphabetic">Alvalade</text>
                </g>
                <g transform="translate(402,476) rotate(0,0,0)">
                <text fill="#b64926" stroke="none" font-family="Paprika" font-size="31.8334px" font-style="normal" font-weight="normal" x="-80.5" y="-12.8" text-anchor="start" dominant-baseline="alphabetic">Bernabéu</text>
                </g>
                <g transform="translate(292,374) rotate(-30.710700543611647,0,0)">
                <text fill="#8e2800" stroke="none" font-family="Paprika" font-size="31.8334px" font-style="normal" font-weight="normal" x="-101.5" y="-12.8" text-anchor="start" dominant-baseline="alphabetic">Old Trafford</text>
                </g>
                <g transform="translate(468,260) rotate(0,0,0)">
                <text fill="#b64926" stroke="none" font-family="Paprika" font-size="15.9167px" font-style="normal" font-weight="normal" x="-42.5" y="-6.4" text-anchor="start" dominant-baseline="alphabetic">Jogadores</text>
                </g>
                <g transform="translate(588,456) rotate(0,0,0)">
                <text fill="#b64926" stroke="none" font-family="Paprika" font-size="15.9167px" font-style="normal" font-weight="normal" x="-35.5" y="-6.4" text-anchor="start" dominant-baseline="alphabetic">Estádios</text>
                </g>
                <g transform="translate(586,472) rotate(0,0,0)">
                <text fill="#ffb03b" stroke="none" font-family="Paprika" font-size="15.9167px" font-style="normal" font-weight="normal" x="-33.5" y="-6.4" text-anchor="start" dominant-baseline="alphabetic">Equipas</text>
                </g>
                <g transform="translate(600,312) rotate(9.921240649932887,0,0)">
                <text fill="#468966" stroke="none" font-family="Paprika" font-size="15.9167px" font-style="normal" font-weight="normal" x="-31.5" y="-6.4" text-anchor="start" dominant-baseline="alphabetic">Futebol</text>
                </g>
                </g>
                </svg>
              </figure>
              </section>
{% endblock %}