<!DOCTYPE html>
<html lang="pt">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="author" content="Antonio Catarino">
    <meta name="keywords" content="Futebol">
    <meta name="description" content="Website sobre futebol">
    <title>Futebol VIP</title>
    <link rel="icon" href="{% static 'website/images/favicon.ico' %}" type="image/x-icon">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'website/images/site.ico' %}"/>
    <link rel="stylesheet" href="{% static 'website/css/base.css' %}"><meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<section class="grid-container2">
  <body>

    <header class="header">
      <link rel="stylesheet" href="estilos.css"/>
      <h1>Futebol VIP: Homepage</h1>
    </header>

    <nav class="nav" id="foto">
      <nav class="menu2">
        <ul>

            <li>
                <a href="#"><img src="images/equipas.png" width="200" height="200">
                  <text fill="#ffb03b" stroke="none" font-family="Paprika" font-size="47.7501px" font-style="normal" font-weight="normal" x="200px" y="200px">Equipas</text>
                </a>
                <ul class="none">
                  <li><p class="importante"><a href="united.html"><img src="images/united.png" width="35" height="35" >M.United</p></a></li>
                  <li><p class="importante"><a href="sporting.html"><img src="images/scp.png" width="35" height="35" >Sporting</p></a></li>
                  <li><p class="importante"><a href="madrid.html"><img src="images/madrid.png" width="35" height="35" >R.Madrid</p></a></li>
                  <li><p class="importante"><a href="juventus.html"><img src="images/juventus.jpg" width="35" height="35" >Juventus</p></a></li>
                </ul>
            </li>

            <li>
              <a href="#"><img src="images/pontape.png" width="200" height="200">
                <text fill="#ffb03b" stroke="none" font-family="Paprika" font-size="47.7501px" font-style="normal" font-weight="normal" x="200px" y="200px">Jogadores</text>
              </a>
              <ul class="none">
                <li><p class="importante"><a href="figo.html"><img src="images/bola2.ico" width="35" height="35" >L.Figo</p></a></li>
                <li><p class="importante"><a href="ronaldo.html"><img src="images/bola3.ico" width="35" height="35" >C.Ronaldo</p></a></li>
                <li><p class="importante"><a href="zidane.html"><img src="images/bola4.ico" width="35" height="35" >Zidane</p></a></li>
                <li><p class="importante"><a href="ronaldinho.html"><img src="images/bola1.ico" width="35" height="35" >Ronaldinho</p></a></li>
              </ul>
            </li>

          <li>
              <a href="#"><img src="images/stadium.png" width="200" height="200">
                <text fill="#ffb03b" stroke="none" font-family="Paprika" font-size="47.7501px" font-style="normal" font-weight="normal" x="200px" y="200px">Estádios</text>
              </a>
              <ul class="none">
                <li><p class="importante"><a href="bernabeu.html"><img src="images/estadio.ico" width="35" height="35" >Bernabéu</p></a></li>
                <li><p class="importante"><a href="alvalade.html"><img src="images/estadio.ico" width="35" height="35" >Alvalade</p></a></li>
                <li><p class="importante"><a href="trafford.html"><img src="images/estadio.ico" width="35" height="35" >Old Trafford</p></a></li>
             </ul>
          </li>

        </ul>
</nav>
  </nav>


  <main class="main">
          <main id="foto">
          <ul>
              <li>
              <a href="index.html"><img src="images/home.ico" width="150" height="150">
                <text fill="#ffb03b" stroke="none" font-family="Paprika" font-size="47.7501px" font-style="normal" font-weight="normal" x="200px" y="200px">Início</text>
              </a>
              </li>
          <li>
            <a href="quizz.html"><img src="images/quizz.ico" width="150" height="150"">
              <text fill="#ffb03b" stroke="none" font-family="Paprika" font-size="47.7501px" font-style="normal" font-weight="normal" x="200px" y="200px">Quizz</text>
            </a>
          </li>

        <li>
          <a href="info.html"><img src="images/info.ico" width="150" height="150">
              <text fill="#ffb03b" stroke="none" font-family="Paprika" font-size="47.7501px" font-style="normal" font-weight="normal" x="200px" y="200px">Sobre</text>
          </a>
        </li>

      <li>
        <a href="galeria.html"><img src="images/multimedia.ico" width="150" height="150">
          <text fill="#ffb03b" stroke="none" font-family="Paprika" font-size="47.7501px" font-style="normal" font-weight="normal" x="200px" y="200px">Galeria</text>
        </a>
      </li>
            </ul>

      </main>
      </main>

      <aside class="aside">
          <figure >
              <img src="images/vip.jpg" class="animacao2">
              <figcaption><details>
                <summary>Futebol VIP</summary>
                <p><a href="https://www.facebook.com/pg/Futebol-Vip-1083139578397174/posts/" target="_blank">Imagem representativa da página web</a></p>
              </details></figcaption></a>
            </figure>
      </aside>

</body>
</section>
</html>
